*{
	left: 0;
	top:0;
	margin: 0;
	padding:0;
	font-family: Garamond;
	color:#7f8c8d;

}
html{
	background:url('./img/bg.jpg') ;
	background-size: cover;
}
body{
	/*padding:0;*/
	
}
#container{
	margin: 0;
	padding:0;
	left: 0;
	top:0;
	width: 100%;
	font-style: garamond;
	overflow: hidden;
}
.leftpane{

	width: 17%;
	min-height:698px;
	background-color: #2c3e50;
	float:left;
	position: fixed;


}
.rightpane{
	width: 80%;
	float:right;
	
	min-height: 100%;

}
.pfimage{
	margin-top: 5px;
	width:95% ;
	border-radius: 50%;
	border: solid 2px #255555;

}
.rcontent{
	padding: 2%;
	margin-top: 5%;
	width: 80%;
	margin: 0 auto;
}
.rcontent h1{
	color: #7f8c8d;
	font-size: 46px;
	



}
.cd{
	padding: 4%;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: rgba(44, 62, 80,0.9);
	 box-shadow: 5px 5px 3px grey;
	 border-radius: 3px;
}
.cd h2{
	
	color:white;

}
.cd div{
	background-color:  #3498db;
	top:0;
	padding: 2%;
	/*margin-top: 2%;*/
	margin-left: 0;
	margin-right:0;
}
.hobby{
	margin-left: 4%;
	border-left: solid 5px #3498db;

}

.hobby li{
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	color: white;
	border-bottom:solid 1px #3498db;
	font-size: 18px
}
.nav{

border-left: solid 5px #3498db;
}
.nav li{
	list-style-type: none;
	/*margin: 10px;
	padding: 10px;*/
	margin-top: 0;
	padding-top: 0;
	border-bottom:dashed 1px #3498db;
	font-size: 18px;
	color: white;

}
.nav li a{
	
	color: white;
	text-decoration: none;;
	font-size: 20px;
}

.nav li:hover{
	background-color: rgba(0,0,0,0.4);
	font-weight: bold;
}
.icon-a{
	color:#2980b9;
	padding: 1px;
	margin: 2px;
}
.contact{
	border-left: solid 4px #3498db;
}
.contact li{
	/*border-left: solid 5px #3498db;*/
	list-style-type: none;
	font-size: 20px;
	padding: 5px;
	margin: 5px;

}
.cm{
	margin-top: 25%;
}