*{
	left: 0;
	top:0;
	margin: 0;
	padding:0;
}
body{
	/*padding:0;*/
	
}
#container{
	margin: 0;
	padding:0;
	left: 0;
	top:0;
	width: 100%;
	font-style: garamond;
	overflow: hidden;
}
.leftpane{

	width: 20%;
	min-height:698px;
	background-color: #2c3e50;
	float:left;
	position: static;


}
.rightpane{
	width: 80%;
	float:left;
	
}